.root__header {
  margin: 0 auto 56px;
  padding: 28px 48px 0;
}

@media  screen and (max-width: 1024px) {
  .root__header {
    margin-bottom: 48px;
  }
}

@media  screen and (max-width: 768px) {
  .root__header {
    padding-left: 24px;
    padding-right: 24px;

  }
}

@media  screen and (max-width: 320px) {
  .root__header {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}