.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin: 0 auto 26px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        margin-bottom: 25px;
        font-size: 16px;
        line-height: 162%;
    }
}

@media screen and (max-width: 610px) {
    .place__paragraph {
        padding: 0 16px 0;
        line-height: 161%;
    }
}

@media screen and (max-width: 414px) {
    .place__paragraph {
        padding-left: 16px;
        padding-right: 16px;
    }

    .place__paragraph:last-child {
        margin-bottom: 0;
        line-height: 163%;
    }
}