.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    /* or 29px */
    margin: 0 0 26px;
    white-space: pre-line;
    

}
.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place__paragraph {
        white-space: normal;
    }
}