.cover__background {
  display: flex;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: 100% 100%;
  background-position: center;
  max-width: 1184px;
  min-height: 740px;
  box-sizing: border-box;
  text-decoration: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.cover__background::before {
  content: " ";
  display: block;
  background-color: #2A2C2F;
  opacity: .3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
}

.cover__background:hover::before {
  opacity: .8;

}

@media  screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media  screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}

@media  screen and (max-width: 610px) {
  .cover__background {
    min-height: 300px;
  }
}

@media  screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}

/* .cover__background {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}

.cover__background::before {
  content: '';
  display: block;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 2s ease-in;
}

.cover__background:hover::before {
  opacity: 0.8;
}

/* 1024 */
/* @media screen and (max-width: 1024px) {
  .cover__background {
  min-height: 640px;
  }
} */

/* 768 */
/* @media screen and (max-width: 768px) {
  .cover__background {
  min-height: 480px;
  }
} */


/* @media screen and (max-width: 320px) {
  .cover__background {
  min-height: 200px;
  justify-content: flex-start;
  }
}  */