.place {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-areas:
  "header link"
  "img main";
  gap: 48px 40px;
    
}

@media  screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(min-content, 440px);
    gap: 48px 32px;
    }
}

@media  screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(min-content, 340px);
    gap: 48px 28px;
  }
}
@media  screen and (max-width: 610px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media  screen and (max-width: 320px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}