.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
}

@media screen and (max-width: 685px) {
    .footer {
        flex-direction: column;
        justify-content: flex-start;
    }
}