.root__footer {
  padding: 0 48px 24px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .root__footer {
    padding-left: 24px;
    padding-right: 24px;

  }
}

@media screen and (max-width: 320px) {
  .root__footer {
    padding-left: 16px;
    padding-right: 16px;
  }
}
